<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title> -->
    <%- include('include', {title: '로그인'}) %>

    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="login-wrapper">
      <h2>Login</h2>
      <form method="post" action="서버의url" id="login-form">
        <input type="text" name="userId" placeholder="id" id="userId" />
        <input
          type="password"
          name="userPw"
          placeholder="Password"
          id="userPw"
        />
        <!-- <label for="remember-check">
          <input type="submit" id="remember-check" onclick="login()" />로그인
        </label> -->
        <input type="submit" value="Login" />
      </form>
      <div class="login-result"></div>
      <a href="/">home</a>
    </div>
    <script>
      // const loginResult = document.querySelector(".login-result");

      // function login() {
      //   console.log("click login btn!");

      //   const form = document.querySelector("login");
      //   const formInfo = {
      //     userId: form.userId.value,
      //     userPw: form.userPw.value,
      //   };

      //   axios({
      //     url: "/practice2",
      //     method: "POST",
      //     data: formInfo,
      //   }).then(function (response) {
      //     console.log(response);
      //     console.log(response.data);

      //     if (response.data.isLogin) {
      //       loginResult.textContent = `${response.data.userInfo.userId}님 로그인 성공`;
      //     } else {
      //       loginResult.textContent = `로그인 실패 다시 입력해주세요`;
      //     }
      //   });
      // }
    </script>
  </body>
</html>
