<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const condition = false;
      const promise = new Promise((resolve, reject) => {
        if (condition) {
          resolve("성공");
        } else {
          reject("실패");
        }
      });

      promise
        .then((message) => {
          console.log(message);
        })
        .catch((error) => {
          console.error(error);
        })
        .finally(() => {
          console.log("무조건");
        });
    </script>
  </body>
</html>
