* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  background-color: bisque;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-item {
    margin: 0 8px;
  }
}

.MainPage {
  background-color: rgb(255, 238, 205);
  min-height: 100vh;
  &.Dark {
    background-color: #333;
  }
}

.ProductDetailPage {
  background-color: bisque;
  min-height: 100vh;
}

.ProductPage {
  background-color: burlywood;
  min-height: 100vh;
}

.ProductItem {
  list-style: none;
  background-color: white;
  width: 80vw;
  margin: 30px auto 0 auto;

  &:hover {
    font-weight: 700;
  }
}
