@mixin box1($size) {
  width: $size;
  height: $size;
}
@mixin position($top, $left) {
  top: $top;
  left: $left;
}

.Component {
  background-color: aliceblue;

  .box1 {
    @include box1(100px);

    border-radius: 50px;
    &.skyblue {
      background-color: skyblue;
      position: absolute;
      @include position(500px, 500px);
    }
    &.blue {
      background-color: blue;
      position: absolute;
      @include position(550px, 550px);
    }
    &.yellow {
      background-color: navy;
      position: absolute;
      @include position(620px, 600px);
    }
    &.green {
      background-color: lightskyblue;
      position: absolute;
      @include position(640px, 670px);
    }
    &.red {
      background-color: dodgerblue;
      position: absolute;
      @include position(680px, 730px);
    }
    &.white {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      position: absolute;
      @include position(515px, 515px);
    }
    &.black {
      width: 25px;
      height: 25px;
      border-radius: 12.5px;
      background-color: black;
      position: absolute;
      @include position(520px, 515px);
    }
  }
}
