@import "~include-media/dist/include-media";

// breakpoint 변수 선언
$breakpoint-md: 768px;
$breakpoint-sm: 532px;

// ver1. flex
// .Prop4 {
//   display: flex;

//   div {
//     width: 20%;

//     img {
//       width: 100%;
//       aspect-ratio: 1 / 1; // 종횡비 , 가로 세로 비율 맞추기
//       object-fit: cover; // 이미지의 비율을 유지하기 ( 이미지 깨짐 x )
//     }
//   }
// }

// @include media("<#{$breakpoint-md}") {
//   .Prop4 {
//     flex-wrap: wrap;

//     div {
//       width: 33.3%;
//     }
//   }
// }
// @include media("<#{$breakpoint-sm}") {
//   .Prop4 {
//     div {
//       width: 100%;
//     }
//   }
// }

// ver2. grid

.Prop4 {
  display: grid;
  //   grid-template-columns: 300px 1fr 1fr 1fr 1fr; // 행을 어떻게 배치할지 (비율)
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr; // 행을 어떻게 배치할지 (비율)
  grid-template-columns: repeat(5, 1fr); // 행을 어떻게 배치할지

  div {
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

@include media("<#{$breakpoint-md}") {
  .Prop4 {
    grid-template-columns: repeat(3, 1fr); // 행을 어떻게 배치할지
  }
}

@include media("<#{$breakpoint-sm}") {
  .Prop4 {
    // grid-template-columns: repeat(1, 1fr); // 행을 어떻게 배치할지
    display: block;
  }
}
