@mixin container($color) {
  // width: $size;
  // height: $size;
  // border-radius: $border;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: $color;
}

@mixin animation($ani, $posi) {
  animation: $ani 2s infinite;

  @keyframes #{$ani} {
    // 변수로 받아올 때 #{$변수명} 사용해야 함
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX($posi);
    }
    50% {
      transform: translate($posi, $posi);
    }
    75% {
      transform: translate(0, $posi);
    }
    100% {
      transform: translate(0);
    }
  }
}

.ball {
  // @include container(50px, 25px);

  &.ball1 {
    // background-color: pink;
    @include container(pink);
    @include animation(ball1, 100px);
  }

  &.ball2 {
    // background-color: yellow;
    @include container(yellow);
    @include animation(ball2, 200px);
  }
  &.ball3 {
    // background-color: green;
    @include container(green);
    @include animation(ball3, 300px);
  }
}
