.test {
  /* position: relative;
  left: 50%; */
  text-align: center;
}
.test h1 {
  color: tomato;
  background-color: sandybrown;
  margin: 5%;
  padding: 5%;
}

.container {
  padding: 50px;
}
.body {
  float: left;
}

.body1 {
  background-color: red;
  width: 100px;
  height: 100px;
}
.body2 {
  background-color: orange;
  width: 100px;
  height: 140px;
}
.body3 {
  background-color: yellow;
  width: 100px;
  height: 180px;
}
.body4 {
  background-color: green;
  width: 100px;
  height: 220px;
}
.body5 {
  background-color: blue;
  width: 100px;
  height: 260px;
}
.body6 {
  background-color: navy;
  width: 100px;
  height: 300px;
}
.body7 {
  background-color: blueviolet;
  width: 100px;
  height: 340px;
}
